{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <link rel="stylesheet" href="{% static "News/index.css" %}">
  <body>
    <main>
      <center><h1>News</h1></center>
      <div class="boxes">
            {%for item in  final %}
        <div class="box">
            <h3><a href = "{{item.id}}">{{item.title}}</a></h3>
            <p>{{item.content}}</p>
            <img src="{{item.url}}">
        <div class="datef">    {{item.date}}</div>
        </div>
        {% endfor%}
      </div>
    </main>
  </body>
</html>
